/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */
/* Suisse Int'l typefaces */

/* Define Suisse Int'l Ultralight */
@font-face {
   font-family: 'Suisse Int\'l Ultralight';
   src: url('/assets/fonts/suisse/SuisseIntl-Ultralight-WebM.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntl-Ultralight-WebM.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntl-Ultralight-WebM.ttf') format('truetype');
   font-weight: 250; // Specify the weight for Light
}

/* Define Suisse Int'l Light */
@font-face {
   font-family: 'Suisse Int\'l Light';
   src: url('/assets/fonts/suisse/SuisseIntl-Light-WebM.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntl-Light-WebM.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntl-Light-WebM.ttf') format('truetype');
   font-weight: 300; // Specify the weight for Light
}

/* Define Suisse Int'l Regular */
@font-face {
   font-family: 'Suisse Int\'l Regular';
   src: url('/assets/fonts/suisse/SuisseIntl-Regular-WebM.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntl-Regular-WebM.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntl-Regular-WebM.ttf') format('truetype');
   font-weight: 300; // Specify the weight for Light
}

/* Define Suisse Int'l Medium */
@font-face {
   font-family: 'Suisse Int\'l Medium';
   src: url('/assets/fonts/suisse/SuisseIntl-Medium-WebM.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntl-Medium-WebM.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntl-Medium-WebM.ttf') format('truetype');
   font-weight: 500; // Specify the weight for Medium
}

/* Define Suisse Neue Light */
@font-face {
   font-family: 'Suisse Neue Light';
   src: url('/assets/fonts/suisse/SuisseNeue-Light-WebS.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseNeue-Light-WebS.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseNeue-Light-WebS.ttf') format('truetype');
   font-weight: 300; // Specify the weight for Medium
}

/* Define Suisse Int'l Mono Regular */
@font-face {
   font-family: 'Suisse Int\'l Mono Regular';
   src: url('/assets/fonts/suisse/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntlMono-Regular-WebS.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntlMono-Regular-WebS.ttf') format('truetype');
   font-weight: 400; // Specify the weight for Medium
}

/* Define Suisse Int'l Condensed Light */
@font-face {
   font-family: 'Suisse Int\'l Cond Light';
   src: url('/assets/fonts/suisse/SuisseIntlCond-Light-WebS.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntlCond-Light-WebS.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntlCond-Light-WebS.ttf') format('truetype');
   font-weight: 400; // Specify the weight for Medium
}

/* Define Suisse Int'l Semi Bold */
@font-face {
   font-family: 'Suisse Int\'l Semi Bold';
   src: url('/assets/fonts/suisse/SuisseIntl-SemiBold-WebS.woff2') format('woff2'),
         url('/assets/fonts/suisse/SuisseIntl-SemiBold-WebS.woff') format('woff'),
         url('/assets/fonts/suisse/SuisseIntl-SemiBold-WebS.ttf') format('truetype');
   font-weight: 400; // Specify the weight for Medium
}

$doc-font-size              : 12;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* suisse typefaces */
$suisse-intl-ultralight : "Suisse Int\'l Ultralight";
$suisse-intl-light : "Suisse Int\'l Light";
$suisse-intl-medium : "Suisse Int\'l Medium";
$suisse-neue-light: "Suisse Neue Light";
$suisse-intl-mono-regular: "Suisse Int\'l Mono Regular";
$suisse-intl-cond-light: "Suisse Int\'l Cond Light";
$suisse-intl-semi-bold: "Suisse Int\'l Semi Bold";
$suisse-intl-regular: "Suisse Int\'l Regular";

/* system typefaces */
// $serif                      : Georgia, Times, serif;
$serif                      : $suisse-neue-light;
// $sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$sans-serif                    : $suisse-intl-regular;
// $monospace                  : Monaco, Consolas, "Lucida Console", monospace;
$monospace                  : $suisse-intl-mono-regular;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $suisse-intl-light;
$header-font-family         : $suisse-intl-medium;
$caption-font-family        : $suisse-intl-ultralight;


/* type scale */
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.563em;  // ~25.008px
$type-size-4                : 1.25em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 0.75em;   // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px
$type-size-9                : 0.5em;    // ~8px


/*
   Colors
   ========================================================================== */
   
// epfl colors
$epfl-rouge                   : #FF0000;
$epfl-groseille               : #B51F1F;
$epfl-leman                   : #00A79F;
$epfl-canard                : #007480;
$epfl-taupe                  : #413D3A;
$epfl-perle                  : #CAC7C7;

$epfl-montrose          : #F39869;
$epfl-vertdeau          : #C2DDB0;
$epfl-rose           : #ED6E9C;
$epfl-acier           : #4F8FCC;
$epfl-soufre           : #FBEE66;
$epfl-carotte          : #EC6608;
$epfl-zinzolin          : #5C2483;
$epfl-chartreuse          : #C8D300;

$gray                       : #7a8288;
/*$dark-gray                  : mix(#000, $gray, 40%);*/
$dark-gray                  : #413C3A;
$darker-gray                : mix(#000, $dark-gray, 60%);
/*$light-gray                 : mix(#fff, $gray, 50%);*/
$light-gray                 : $epfl-perle;
/*$lighter-gray               : mix(#fff, $gray, 90%);*/
$lighter-gray               : #EAE9E9;

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #fafafa;
$code-background-color-dark : $epfl-perle;
$text-color                 : $epfl-taupe;
$border-color               : $epfl-perle;

$primary-color              : $epfl-taupe;
$success-color              : $epfl-vertdeau;
$warning-color              : $epfl-carotte;
$danger-color               : $epfl-groseille;
$info-color                 : $epfl-canard;



/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : $primary-color;
$link-color-hover           : $epfl-rouge;
$link-color-visited         : mix(#fff, $epfl-rouge, 25%);
$masthead-link-color        : $primary-color;
// $masthead-link-color-hover  : mix(#000, $primary-color, 25%);
$masthead-link-color-hover  : $epfl-rouge;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
